body {
  background-image: url("p10.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.animate{
  width: 110px;
  height: 110px;
  background-image: url('boneco1.png');
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 0px;
}

#animate_2{
  width: 140px;
  height: 140px;
  position: absolute;
  background-image: url('coroa.png');
  background-size: contain;
  left: 600px;
  top: 400px;
}

#animate_3{
  width: 140px;
  height: 140px;
  position: absolute;
  background-image: url('coroa.png');
  background-size: contain;
  left: 300px;
  top: 450px;
}

#animate_5{
  width: 140px;
  height: 140px;
  position: absolute;
  background-image: url('coroa.png');
  background-size: contain;
  left: 900px;
  top: 200px;
}

#animate_6{
  width: 140px;
  height: 140px;
  position: absolute;
  background-image: url('coroa.png');
  background-size: contain;
  left: 500px;
  top: 100px;
}